.npm-cache
node_modules
.env
packages/api/src/assets/doctorsData.xlsx
assets/logs
packages/api/kaleyra-logs/SMS-RESPONSE.LOG
packages/api/debug-logs/doctors-search.log
*.log
paytm-integration/env
packages/mobile-patients/android/app/debug.keystore
