<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477516860783-l6r0u7nt37t6h5uk4srpprsh36uv8ahu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477516860783-l6r0u7nt37t6h5uk4srpprsh36uv8ahu</string>
	<key>API_KEY</key>
	<string>AIzaSyDx4FuRnOrz1PyZjQlvU0rBg8Cs1y4WZR4</string>
	<key>GCM_SENDER_ID</key>
	<string>477516860783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apollo.patient</string>
	<key>PROJECT_ID</key>
	<string>apollopatient-95c45</string>
	<key>STORAGE_BUCKET</key>
	<string>apollopatient-95c45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477516860783:ios:674e91e5f97a31d8</string>
	<key>DATABASE_URL</key>
	<string>https://apollopatient-95c45.firebaseio.com</string>
</dict>
</plist>